.first_image {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("./../images/manage-weight-cover.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 52%;
}

.btn-group {
  position: absolute;
  width: 70%;
  bottom: 5%;
  left: 5%;
}

.description {
  background-color: #EEEEEE;
}

.footer {
  background-color: #EEEEEE;
}
